.ge-grid {
    justify-content: space-between;
    // display: flex;
    // flex-wrap: wrap;

    display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: space-between;

    margin-left: -20px;
    margin-right: -20px;
    padding: 10px;
    // flex-shrink: 1;
    position: relative;
    align-items: flex-end;


    h3 {
        display: block;
        @include fs-header(2);
    }

    h4 {
        @include fs-textSans(3);
    }
}

.ge-grid__item {
    flex-shrink: 1;
    flex-grow: 1 !important;
    position: relative;
    margin: 10px;
    flex-basis: auto;

    svg {
        overflow: visible !important;
    }
}

.ge-grid:last-child:after {
    content: "";
    flex-grow: 9999; 
    margin: 10px;
    height: 0;
}


// .phantom {
//     flex-grow: 9999;
//     flex-shrink: 0;
//     flex-basis: auto;
//     visibility: hidden;
// }

// .ge-grid__item--slope {
//     margin-bottom: 40px;
//     width: 300px;

//     @include mq(mobile) {
//         width: 50%;
//     }

//     @include mq(tablet) {
//         width: 160px;
//     }

//     h3 {
//         position: absolute;
//         top: 0;
//     }

//     svg {
//         margin-top: 40px;
//     }
// }