.ge-grid {

    display: flex;
    flex-wrap: wrap;

    @supports (display: grid) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    justify-content: space-between;
    align-items: flex-end;
    position: relative;

    h3 {
        display: block;
        @include fs-header(2);
    }

    h4 {
        @include fs-textSans(3);
    }

    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;

    background-color: #fff;
}

.ge-grid__item {
    flex: 1 0 200px;
    @supports (display: grid) {
        flex: none;
    }
    
    position: relative;
    // flex-basis: auto;

    svg {
        overflow: visible !important;
    }
}

.ge-grid:last-child:after {
    content: "";
    flex: 100 0 auto;
    margin: 10px;
    height: 0;

    @supports (display: grid) {
        display: none;
    }
}

.ge-grid--300 {
    @supports (display: grid) {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    >.ge-grid__item {
        flex: 1 0 300px;
    }
}

.ge-grid-150 {
    @supports (display: grid) {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    >.ge-grid__item {
        flex: 1 0 150px;
    }
}

.ge-grid--slope {
    @supports (display: grid) {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)) !important;
    }
    
    border-top: 1px solid #eaeaea; 
    border-left: 1px solid #eaeaea;

    >.ge-grid__item {
        flex: 1 0 120px;
        border-right: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
        font-size: 0;
    }
}