.ge-grid {

    display: flex;
    flex-wrap: wrap;

    @supports (display: grid) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    justify-content: space-between;
    align-items: flex-end;

    margin-left: -20px;
    margin-right: -20px;
    padding: 10px;
    position: relative;

    h3 {
        display: block;
        @include fs-header(2);
    }

    h4 {
        @include fs-textSans(3);
    }
}

.ge-grid__item {
    flex: 1 0 200px;
    @supports (display: grid) {
        flex: none;
    }
    
    position: relative;
    margin: 10px;

    svg {
        overflow: visible !important;
    }
}

.ge-grid:last-child:after {
    content: "";
    flex: 100 0 auto;
    margin: 10px;
    height: 0;

    @supports (display: grid) {
        display: none;
    }
}

.ge-grid--300 {
    @supports (display: grid) {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    >.ge-grid__item {
        flex: 1 0 300px;
    }
}

.ge-grid-150 {
    @supports (display: grid) {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    >.ge-grid__item {
        flex: 1 0 150px;
    }
}