.ge-map-wrapper {
    position: relative;
    height: 800px; // TODO CHANGE
}

.ge-const {
    fill: #dcdcdc;
    stroke: #f6f6f6;
    stroke-width: 0.5;
    cursor: pointer;
}

.ge-const__selected {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
    pointer-events: none;
}

.ge-const--nodata {
    fill: url('#ge-hash') !important;
    background: url('#ge-hash') !important;
}

.ge-region {
    fill: none;
    stroke: #f6f6f6;
    stroke-width: 2;
    pointer-events: none;
}

.ge-hash__rect {
    fill: white;
}

.ge-hash__path {
    stroke: #dcdcdc;
    stroke-width: 1.5;
    fill: none;
}

.ge-map__inner {
    position: relative;
    // right: 80px;
}

.ge-map__search__title {
    @include fs-titlepiece(1);
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 12px;
}

.ge-map-label__text {
    @include fs-textSans(1);
    text-anchor: middle;

    pointer-events: none;

    &.ge-map-label__text--white {
      fill: none;
      stroke: white;
      stroke-width: 3;
    }
}

.ge-map-labels {
    transition: opacity 0.2s linear;
}