.axis {
    line {
        stroke: #dcdcdc;
        // shape-rendering: crispEdges;
    }

    text {
        @include fs-textSans(2);
        fill: #767676;
    }
}

.major-tick { 
    line {
        stroke: #333 !important;
    }

    text {
        fill: #333 !important;
    }
}

.axis--x {
    text {
        text-anchor: end;
        transform: translate(0, 16px); 
    }

    g:first-of-type {
        text {
            text-anchor: start;
        }
    }

    g:first-of-type {
        line {
            display: none;
        }
    }

    g:last-of-type {
        line {
            display: none;
        }
    }
}

.axis--y {
    // text:last-of-type, line:last-of-type {
    //     display: none;
    // }

    text {
        transform: translateY(-6px);
    }
}

.ge-scatter-plot {
    circle {
        fill-opacity: 0.5;
        cursor: pointer;
    } 

    svg {
        // overflow: hidden !important;
        margin-bottom: 48px;
    }
}

.axis .ge-scatter-label {
    fill: #000;
    @include fs-headline(1);
    font-weight: bold;
    text-anchor: start !important;
}

.ge-scatter-marker {
    fill-opacity: 0.95 !important;
    stroke: #000 !important;
}

.circle-selected {
    stroke: #000;
    pointer-events: none;
    fill: none;
    // paint-order: stroke;
    stroke-width: 2px;
}

.ge-scatter-voronoi {
    fill: none;
    stroke: none;
    pointer-events: all;
    cursor: pointer;
}

.ge-scatter-trend {
    @include fs-textSans(3);
    text-anchor: start;

    pointer-events: none;

    &.ge-scatter-trend--white {
      fill: none;
      stroke: white;
      stroke-width: 3;
    }
}