.axis {
    line {
        stroke: #dcdcdc;
        shape-rendering: crispEdges;
    }

    text {
        @include fs-textSans(2);
        fill: #767676;
    }
}

.major-tick { 
    line {
        stroke: #333 !important;
    }

    text {
        fill: #333 !important;
    }
}

.axis--x {
    text {
        text-anchor: middle;
        transform: translate(0, 16px); 
    }

    g:first-of-type {
        text {
            text-anchor: start;
        }
    }

    g:first-of-type {
        line {
            display: none;
        }
    }

    g:last-of-type {
        line {
            display: none;
        }
    }
}

.axis--y {
    // text:last-of-type, line:last-of-type {
    //     display: none;
    // }

    text {
        transform: translateY(-6px);
    }
}

.ge-scatter-plot {
    circle {
        fill-opacity: 0.5;
    } 

    svg {
        // overflow: hidden !important;
        margin-bottom: 48px;
    }
}

.ge-scatter-label {
    font-weight: bold;
    fill: #767676;
    text-anchor: start !important;
}

.ge-scatter-marker {
    fill-opacity: 0.95 !important;
    stroke: #000 !important;
}