.ge-slope-chart {
    // width:10%;
    // flex-grow: 1; 
    // position: absolute;
    // bottom: 0;
    // border: 1px solid #dcdcdc;
    // box-sizing: border-box;

    svg {
        box-sizing: border-box;
    }
}

.ge-slope-chart__baseline {
    stroke: #767676;
    shape-rendering: crispEdges;
}

.ge-slope-chart__midline {
    shape-rendering: crispEdges;
    stroke: #dcdcdc;
    stroke-dasharray: 2,2;
}

.ge-slope-chart__line {
    stroke: #000;
    stroke-width: 2px;
}

.ge-slope-chart__circle {}
    // s
    
.ge-slope-chart__label {
    @include fs-textSans(2);
    fill: #000;
    text-anchor: middle;
} 

.ge-slope-chart__num {
    @include fs-textSans(1);
    font-size: 11px;
    text-anchor: end;
    transform: translateY(3px);
}

.ge-slope-chart__num--right {
    text-anchor: start;
}