.ge-slope-chart {
    // width:10%;
    // flex-grow: 1; 

    
}

.ge-slope-chart__baseline {
    stroke: #767676;
    shape-rendering: crispEdges;
}

.ge-slope-chart__midline {
    shape-rendering: crispEdges;
    stroke: #dcdcdc;
    stroke-dasharray: 2,2;
}

.ge-slope-chart__line {
    stroke: #000;
    stroke-width: 3px;
}

.ge-slope-chart__circle {
    fill-opacity: 0.5;
    stroke-width: 2px;
}