.ge-tt {
    position: absolute;
    
    transform: translate(-50%, -100%);

    // background: rgba(255, 255, 255, 0.95);
    padding: 1.5px 5px;
    border: 1px solid #333;
    pointer-events: none;
    user-select: none;

    // max-width: 250px;

    // display: inline-block;
    display: flex;
    pointer-events: none;
    z-index: 99999999;
    background: white;

    .ge-grid--scatter & {
        transform: translate(-50%, -200%);
    }
}

.ge-tt__constname {
    @include fs-header(1);
    font-size: 15px;
    line-height: 19px;
    // display: inline-block;
    margin: 0;
    // min-width: 150px;
}

.ge-tt__demog {
    // display: inline !important;
}

.ge-tt__winner {
    @include fs-textSans(1);
}